<div class="c-weather__loader" ng-hide="$ctrl.weatherData.weather || !$ctrl.weatherData.geolocationEnabled"></div>

<div ng-show="$ctrl.weatherData.weather">

    <!-- ##################################### City name -->
    <h2 class="c-weather__city">{{$ctrl.weatherData.name}}</h2>

    <!-- ##################################### A list of weather icons -->
    <!-- Weather icons if there are more than one because weather api returns an array -->
    <ul class="c-weather__icons">
        <li ng-repeat="item in $ctrl.weatherData.weather track by $index">

            <i class="wi" ng-class="'wi-owm-'+item.id"></i>
            <span >{{item.main}}</span>

        </li><!-- weather icons -->
    </ul>

    <!-- ##################################### Common information about weather -->
    <table class="c-weather__table">
        <tbody>

            <tr>
                <th>Wind</th>
                <td>{{$ctrl.weatherData.wind.speed}} m/s</td>
            </tr>

            <tr>
                <th>Cloudiness</th>
                <td>{{$ctrl.weatherData.clouds.all}} %</td>
            </tr>

            <tr>
                <th>Pressure</th>
                <td>{{$ctrl.weatherData.main.pressure}} hpa</td>
            </tr>

            <tr>
                <th>Humidity</th>
                <td>{{$ctrl.weatherData.main.humidity}} %</td>
            </tr>

            <tr>
                <th>Temperature</th>
                <td>{{$ctrl.weatherData.main.temp}} &#8451;</td>
            </tr>

        </tbody>
    </table>

</div>
